@{
    Layout = null;
}

@model Cement.Web.Controllers.TestController.CementPage

<!DOCTYPE html>

<html ng-app="Cement">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>{{ title }}</title>
        <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/cement/app.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/cement/controllers/PageController.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/cement/directives/placeholder.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/cement/directives/testmodule.js")"></script>
        <script type="text/javascript">
            angular.module('Cement').constant('TemplateUrl', '@Model.PageTemplate');
        </script>
    </head>
    <body>
        <div>
            <a href="/Home">Home</a> |
            <a href="/About">About</a> |

            <ng-view></ng-view>
        </div>
    </body>
</html>
